h1 {
  margin:0;
  font-size: 0px;
}

.starter-template {
  padding: 15px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.frameNudge {
  padding: 20px 0 0 0;
}

.frameNudge2 {
  padding: 0 0 80px 0;
}

.container {
  width:1046px; !important;
  padding-right:0;
  padding-left:0;
  max-width: none !important;
}

/*.scrollHold {
  height:550px;
  overflow-y:auto;
  overflow-x:hidden;
  border-bottom: 1px solid #999;
}*/

.legSea {
  float:left;
  text-align:center;
  vertical-align: bottom;
}

.legAl {
  padding:0 0 0 46px;
  margin:0;
}

/*.scrollHold2 {
  height:550px;
  overflow-y:auto;
  overflow-x:hidden;
}*/

.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

.mapIframe {
  border: 1px solid #ccc;
  margin: 0 276px;
}

/* .seIframe {
  border: 1px solid blue;
} */

.rowSea {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.rowClear {
  margin-right: 0;
  margin-left: 0;
}

.leftQues {
  padding-top:50px;
}

.navbar-inverse {
  background-color: #898989;
  border-color: #080808;
}

.navbar-inverse .navbar-brand {
  color: #101010;
}

.navbar-inverse .navbar-nav>li>a {
  color: #1F1F1F;
}

.navbar-brand {
  padding: 15px 30px 15px 0;
  font-size: 20px;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  padding-right: 0;
  padding-left: 0;
}

/* Always float the navbar header */
.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
  float: right;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}
